.card {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.card__image {
  width: 282px;
  height: 282px;
  margin: 0;
  object-fit: cover;
  cursor: pointer;
}

.card__delete-icon {
  position: absolute;
  top: 18px;
  right: 15px;
  background: url(../images/delete-icon.svg) center no-repeat;
  border: none;
  width: 18px;
  height: 19.3px;
  cursor: pointer;
}

.card__delete-icon:hover {
  opacity: 60%;
}

.card__info {
  max-width: 282px;
  background-color: white;
  color: black;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 20px;
  box-sizing: border-box;
}

.card__title {
  margin: 0;
  padding: 0;
  max-width: 219px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card__heart-icon {
  background: url(../images/heart.svg) center no-repeat;
  border: none;
  width: 21px;
  height: 18px;
  cursor: pointer;
}

.card__heart-icon_active {
  background-image: url(../images/heart-icon-active.svg);
}

.card__heart-icon:hover {
  opacity: 50%;
}
