.header {
  border-bottom: solid 1px rgba(84, 84, 84, 0.7);
  padding: 0 0 41px;
}

.header__logo {
  width: 173px;
  height: 33px;
}

@media screen and (max-width: 634px) {
  .header {
    padding: 0 0 32px 27px;
  }

  .header__logo {
    width: 126px;
    height: 24px;
    margin: 0 0 0 8px;
  }
}
