.profile {
  margin: 40px 0 0;
  display: flex;
  align-items: center;
}

.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 0 30px 0 0;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "subtitle subtitle";
}

.profile__title {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.1;
  margin: 0;
  grid-area: title;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.profile__edit-button {
  background: transparent url(../images/edit_pencil.svg) center no-repeat;
  border: solid white 1px;
  width: 24px;
  height: 24px;
  padding: 0;
  margin: 15px 18px 0;
  grid-area: button;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 60%;
}

.profile__subtitle {
  margin: 7px 0 0;
  padding: 0;
  grid-area: subtitle;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.profile__add-button {
  margin-left: auto;
  background: transparent url(../images/plus.svg) center no-repeat;
  width: 150px;
  height: 50px;
  border-radius: 2px;
  border: solid white 2px;
  cursor: pointer;
}

.profile__add-button:hover {
  opacity: 60%;
}

@media screen and (max-width: 795px) {
  .profile__info {
    align-items: center;
  }

  .profile__title {
    font-size: 24px;
    line-height: 1.2;
  }

  .profile__edit-button {
    margin: 0 18px 0;
  }
}

@media screen and (max-width: 636px) {
  .profile {
    flex-direction: column;
    max-width: 400px;
    margin: 42px auto 0;
  }

  .profile__avatar {
    margin: 0;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 270px;
    margin: 30px 0 0;
    box-sizing: border-box;
  }

  .profile__title {
    font-size: 22px;
    line-height: 1.2;
  }

  .profile__edit-button {
    margin: 0 0 0 10px;
    width: 18px;
    height: 18px;
  }

  .profile__subtitle {
    font-size: 14px;
    line-height: 1.2;
    display: block;
  }

  .profile__add-button {
    margin: 36px 0 0 0;
    width: 100%;
  }
}
